/*Limpar formatações padroes*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}

/* ***Layout*** */

#cabecalho{
    background: #f7b600;
    padding: 15px;
    text-align: center;
}

#logo{
    padding: 15px;
}

#menu{
    color: #FFF;
    padding: 15px 15px 3px 15px;
}

#principal{    
    width: 920px;
    margin: 0px auto;
    padding: 15px;
}

#conteudos{
    width: 660px;
    float: left;   
}

.postagem{
margin: 5PX;
padding: 10PX;
background: white;
}

#barra-lateral{
    width: 240px;
    background: #f7b600;
    float: right;
}

.conteudo-lateral{

}

.postagem-lateral{
    color: #FFF;
    background: f7b600;
    margin: 10px;
}

#rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
}


/* ****Formatações gerais**** */
.branco{
    color: white ;
}

#ler-mais{
    padding-top: 5px;
    font-size: 0.8em;
    color: #888484;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    
}
#sugestoes{
    padding: 15px;
    margin: 15px;
    font-size: 0.5em;
    color: #fff;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    
}

.data-post{
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

h2{
    color: #f7b600;
}


h4{
    text-align: center;
}

h5{
    color: gray;
    font-size: 1em;
    text-align: center;

}


/* Estilo para os links gerais */
a:link, a:visited {
    color: #f7b600 !important;
    text-decoration: none;
}

a:hover {
    color: #f7b600 !important;
    background: #fff !important;
    text-decoration: underline !important;
}

/* Estilo específico para os links do cabeçalho */
#cabecalho a:link, #cabecalho a:visited {
    color: #fff !important;
    background: #f7b600 !important;
    text-decoration: none;
}

#cabecalho a:hover {
    padding: 8px 5px !important;
    color: #f7b600 !important;
    background: #FFF !important;
    text-decoration: none !important; /* Mantém sem sublinhado ao passar o mouse */
}


#sugestoes a:link, #sugestoes a:visited {
    color: #fff !important;
    background: #f7b600 !important;
    text-decoration: none;
}

#sugestoes a:hover {
    padding: 8px 5px !important;
    color: #f7b600 !important;
    background: #FFF !important;
    text-decoration: none !important; /* Mantém sem sublinhado ao passar o mouse */
}




